<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <title>The Best Palindrome Checker in the World!</title>
    <link rel = "stylesheet" href="../../public/site.css">
</head>
<body>
    <h1>The Best Palindrome Checker in the World!</h1>
    <main>
        <p>This webpage helps check if your input text is palindrome or not.</p> 
        <p>A palindrome is a word or phrase that is spelled the same backwards as it is forwards.</p>
        {{{body}}}
    </main>
</body>
</html>