<main>
    <h1>Your Info</h1>
    <div>
        <ul>
            <li>First name: {{user.firstName}}</li>
            <li>Last name: {{user.lastName}}</li>
            <li>Profession: {{user.profession}}</li>
            <li>Bio: {{user.bio}}</li>
        </ul>
    </div>
</main>