<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="utf-8">
    <title>Error</title>
    <link rel = "stylesheet" href="../public/site.css">
</head>
<body>
  <h1>Error</h1>
    <main>
  <p class = error>{{err}}</p></main>
<footer><a href="/">Back to main page</a></footer>
</body>
</html>