<!DOCTYPE html>
<html lang = "en">
    <head>
    <meta charset="utf-8">
    <title>El Psy Congroo</title>
    <link rel = "stylesheet" href="../public/site.css">
</head>
    <body>
        <main>
<form action="/result" method="post">
    <label for="texttotest">
      Please input text: 
    </label>
    <input type="text" name="texttotest" placeholder="Example: wew" value="{{input}}" class="input" id="texttotest"/>
    <input type="submit" value="Submit">
  </form></main>
        </body>
</html>