<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Wenkang's PC</title>
    <link rel="stylesheet" href="/public/css/site.css">
    <script src="/public/js/form.js"></script>
</head>
<body>
    <h1>The Whole Palindrome Checker</h1>
    <main>
        <form id="palinform" name="palinform">
            <textarea id="phrase" name="phrase" placeholder="Example: wew"></textarea>
        <input type="button" value="submit" onclick="addToAttempts(); return false;">
        </form>
        <h2>Texts already checked:</h2>
        <ul id="attempts"></ul>
    </main>
    <footer>
        <p>Name: Wenkang Su <br/>
            CWID: 10409507</p></footer>
</body>  
</html>